@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

body {
    background-color:  hsl(204, 43%, 93%);
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    margin-top: 100px;
}

.row {
    display: flex;
    justify-content: center;
}

/* BOX STYLES */
/* Top Box */
.top-box {
    background-color:  white;
    padding: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 650px
}
.main-title {
    color:hsl(179, 62%, 43%);
    font-size: 1.5em;
    font-weight: 700;
    padding-bottom: 15px;
}

.subtitle {
    color: hsl(71, 73%, 54%);
    font-size: 1.5em;
}

.top-content {
       color: hsl(218, 22%, 67%);
}

/* Left Box */
.left-box {
    background-color: hsl(179, 62%, 43%);
    padding: 40px;
    border-bottom-left-radius: 10px;
}

.price {
    font-size: 32px;
    font-weight: 700;
}

.left-box-content {
    color: white;
}

.second {
    padding-bottom: 20px;
}

/* Button */
.btn {
    background-color: hsl(71, 73%, 54%);
    border:none;
    width: 12em;
    font-weight: 700;
}

.btn:hover {
    background-color: hsl(218, 22%, 67%);
}

/* Right Box */
.right-box {
    background-color: hsl(179, 62%, 43%);
    opacity: 0.8;
    padding: 40px;
    border-bottom-right-radius: 10px;
}

.right-box-content {
    color: hsl(216, 42%, 88%);
    padding-top: 20px;
}

.left-box-title,
.right-box-title {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

/* Footer */
footer {
    padding-top: 20px;
}

.attribution { 
    font-size: 1em; 
    text-align: center;
    color: hsl(218, 22%, 67%);
}
.attribution a { 
    color: hsl(218, 22%, 67%);
    text-decoration: none;
}

.attribution a:hover {
    color: hsl(71, 73%, 54%);
}

@media screen and (max-width:600px) {
    body {
        margin-left:75px;
    }

    .row {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .top-box,
    .left-box,
    .right-box {
        width: 350px;
        
    }

    .left-box {
        border-bottom-left-radius: 0;
    }

    .right-box {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    footer {
        font-size: 11px;
        text-align: center;
    }

}